/*PALETA DE COLORES*/
:root{
    --color-principal:#591414;
    --color-secundario:#8C1111;
    --color-terciario:#A6242F;
    --color-negro:#0D0908;
    --color-alternativo-I:#7D6841;
    --color-alternativo-II:#3045BF;
    --color-apuesto:#145959;
    --color-fondo:#E7E1E1;
    --color-letra-pricipal: #fff;
    --color-fondo-modal: rgba(144,148,150,0.8);
}

/*RESPONSIVE BIENVENIDA*/
.cambio-de-color{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-apuesto);
}

.bienvenida-usuario{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
}

.bienvenida-usuario h1{
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    color: var(--color-letra-pricipal);
}

.agregar-servidor{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-letra-pricipal);
    padding: 20px;
    margin: 10px 30px;
    border-radius: 10px;
}

.agregar-servidor img{
    width: 80px;
    height: 80px;
}

.agregar-servidor p{
    margin: 0px 30px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Heebo', sans-serif;
    text-align: center;
}

.agregar-servidor .btn-agregar-servidor{
    text-decoration: none;
    font-size: 1.2rem;
    background-color: var(--color-apuesto);
    color: var(--color-letra-pricipal);
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.agregar-servidor .btn-agregar-servidor:hover{
    background-color: var(--color-principal);
    transition: 0.2s linear;
}

.unirme-a-servidores{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-letra-pricipal);
    padding: 20px;
    margin: 10px 30px;
    border-radius: 10px;
}

.unirme-a-servidores img{
    width: 80px;
    height: 80px;
}

.unirme-a-servidores p{
    margin: 0px 30px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Heebo', sans-serif;
    text-align: center;
}

.unirme-a-servidores .btn-agregar-servidor{
    text-decoration: none;
    font-size: 1.2rem;
    background-color: var(--color-apuesto);
    color: var(--color-letra-pricipal);
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.unirme-a-servidores .btn-agregar-servidor:hover{
    background-color: var(--color-principal);
    transition: 0.2s linear;
}

.titulo-tus-servidores{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
}

.titulo-tus-servidores h2{
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: var(--color-letra-pricipal);
}

@media screen and (max-width: 800px) {
    /*RESPONSIVE BIENVENIDA*/
    .bienvenida-usuario{
        padding: 30px 20px;
    }

    .bienvenida-usuario h1{
        font-size: 2rem;
    }

    .agregar-servidor{
        margin: 10px 20px;
    }

    .agregar-servidor img{
        width: 70px;
        height: 70px;
    }

    .agregar-servidor p{
        font-size: 1.1rem;
    }

    .agregar-servidor a{
        font-size: 0.8rem;
    }

    .unirme-a-servidores{
        margin: 10px 20px;
    }

    .unirme-a-servidores img{
        width: 70px;
        height: 70px;
    }

    .unirme-a-servidores p{
        font-size: 1.1rem;
    }

    .unirme-a-servidores a{
        font-size: 0.8rem;
    }

    .ningun-servidor h3{
        font-size: 1rem;
    }

    .tus-servidores{
        width: 100%;
        margin: 5px 20px;
    }

    .tus-servidores .card-servidor .descripcion-servidor h2{
        font-size: 1.4rem;
    }

    .tus-servidores .card-servidor .descripcion-servidor p{
        font-size: 0.8rem;
    }

    .tus-servidores .card-servidor .descripcion-servidor p a:hover:after{
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .tus-servidores .card-servidor .botones-servidor a{
        font-size: 0.9rem;
    }

    .tus-servidores .card-servidor .botones-servidor label{
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 515px) {
    .agregar-servidor{
        flex-direction: column;
        margin: 10px;
    }

    .agregar-servidor p{
        margin: 10px;
    }

    .unirme-a-servidores{
        flex-direction: column;
        margin: 10px;
    }

    .unirme-a-servidores p{
        margin: 10px;
    }

    .tus-servidores{
        padding: 20px;
    }

    .tus-servidores .card-servidor{
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .tus-servidores .card-servidor img{
        width: 100px;
        height: 100px;
    }

    .tus-servidores .card-servidor .descripcion-servidor{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
}
